service logd-adjust /system/bin/logd --logmuch
    oneshot
    disabled
    user logd
    group logd

service logd-loglevel /system/bin/logd --loglevel
    oneshot
    disabled
    user logd
    group logd

on property:persist.vendor.logmuch=*
    start logd-adjust

on property:vendor.logmuch.value=*
    start logd-adjust

on property:vendor.logmuch.delay=*
    start logd-adjust

on property:sys.boot_completed=1
    start logd-loglevel
